.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  font-family: sans-serif;
}

.header{
  width: 100%;
  background-color: rgb(255, 125, 125);
  text-align: center;
  padding-top: 4vmin;
  padding-bottom: 4vmin;
  color: rgb(62, 13, 13);
}
.tableCount{
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.container{
  width: 85%;
  height: 100%;
  padding-top: 2vmin;
  padding-bottom: 4vmin;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
.sections{
  display: flex;
  margin-left: 8vmin;
  margin-right: 8vmin;
  gap: 0.5rem;
}
.itemButton{
  cursor: pointer;
}
.sub-div{
  margin-top: 2vmin;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  gap: 3rem;
}
.item{
  border: 1px solid black;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  padding-left: 1vmin;
  padding-right: 1vmin;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
    .sub-div{
      display: inline-block;
    }
    .item{
      margin-top: 2rem;
    }
    .container{
      border: none;
    }
}

.item_image{
  width: 100%;
}
.selectButton{
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  cursor: pointer;
  background-color: #ff4646;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
}
.info{
  margin-top: 0.3rem;
}
.quantity{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.incre-decre{
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 3rem;
  height: 2rem;
  font-size: 0.9rem;
}
